.header {
  display: flex;
  justify-content: space-between;
}

button{
  background-color: #00AEAE;
  border-color: #00AEAE;
  border-radius: 5px;
  min-width: 15%;
  font-size: 1rem;
  margin-right: 10%;
}