.container {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #00aeae;
  border-color: #00aeae;
  border-radius: 5px;
  min-width: 15%;
  font-size: 1rem;
}
