<div class="min-h-screen" style="background: #FFF">
  <div class="flex-col">
    <div class="flex-none h-40 p-8" style="background: #F4F4F4">
      <div class="text-sm breadcrumbs mb-4">
        <ul>
          <li><a>luminaa</a></li>
          <li><a>Ressourcen</a></li>
          <li>Benutzer</li>
        </ul>
      </div>
      <div class="flex items-center">
        <div class="flex grow">
          <h1 class="text-lg">Benutzer</h1>
        </div>
        <div class="flex-none space-x-4 ">
          <button class="btn justify-start">Export</button>
          <button class="btn justify-start">Gruppe Anlegen</button>
        </div>
      </div>
    </div>
    <div class="mt-16 m-4">

      <div class="flex mb-4">
        <div class="grow">
          <input type="text" placeholder="Suche" class="input input-bordered w-full" />
        </div>
        <div class="flex-none ml-8">
          <button class="btn justify-start">Filter</button>
        </div>
      </div>

      <div class="">
        <div class="overflow-x-auto">
          <table class="table">
            <!-- head -->
            <thead>
            <tr>
              <th>ID</th>
              <th>Gruppe</th>
              <th>Bereich</th>
              <th>Benutzer</th>
              <th>Angelegt am</th>
              <th>Status</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
            @for ( user of users$(); track user._id ) {
            <tr>
              <th>{{ user._id }}</th>
              <td>Group_name</td>
              <td>Stationär</td>
              <td>{{ user.firstName }} {{ user.lastName }}</td>
              <td>tt.mm.yyyy, hh:mm</td>
              <td>{{user.active}}</td>
              <td>
                <button class="btn btn-square btn-ghost">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                </button>
              </td>
            </tr>
            } @empty {
              <tr>No results yet!</tr>
            }
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>
</div>
