<div>
    <h1>Gruppe anlegen/bearbeiten</h1>
    <label for="create-groupname"> Gruppenname </label>
    <input id="create-groupname" type="text">

    <label for="create-area">Bereich</label>
    <select name="area" id="create-area">
        @for (area of areas; track $index) {
            <option [value]="area"> {{area}} </option>     
        } 
    </select>
    <br>
    <label for="add-employee">Mitarbeiter</label>
    <select name="employee"  id="add-employee" [(ngModel)]="selectedEmployee">
        @for (employee of employees; track $index) {
            <option [value]="employee"> {{employee}} </option>
        }
    </select>

    <button (click)="addEmployee()">hinzufügen</button>
    <br>
    <div>
            @for (employee of addedEmployee; track $index) {
                <p> {{employee}} </p>
            }
        
    </div>

    <label for="add-client">Klienten</label>
    <select name="client" id="add-client" [(ngModel)]="selectedClient">
        @for (client of clients; track $index) {
            <option [value]="client"> {{client}} </option>
        }
    </select>

    <button (click)="addClient()">hinzufügen</button>
    <br>
    <div>
            @for (client of addedClient; track $index) {
                <p> {{client}} </p>
            }
        
    </div>

    <br>

    <button>Anlegen</button>
</div>
