    .separateSections{
      margin-bottom: 3%;
      margin-top: -10px;
    }
  
  
.navbar {
  display: flex;
  list-style: none;
  gap: 1rem;
}
.nav-item {
  background-color: #ffe548;
  padding: 1rem;
  border-radius: 10px;
    font-size: 1.2rem;
}

