    .separateSections{
      margin-bottom: 3%;
      margin-top: -10px;
    }
  
  
  .navbar{
    display: flex;
  }
  .nav-item {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 10px;
    border: 2px solid #CCB10B;
    background-color: #FFE548;
      border-radius: 10px;
    padding: 1rem;
    min-width: 10%;
    font-size: 1.2rem;
  }

