<div class="flex flex-col items-center justify-between  mx-auto md:h-screen lg:py-0">

  <a href="#" class="flex items-center mt-12">
    <img class="mr-2" src="assets/img/jho_logo.png" alt="logo">
  </a>

  <div class="w-full md:mt-0 sm:max-w-md xl:p-0">
    <p class="text-center mb-8">Hallo BENUTZERNAME, <br> bitte geben Sie ihren Sicherheits-PIN ein</p>
    <form class="space-y-4 md:space-y-6">
      <div class="flex justify-between space-x-1">
        <div class="form-control">
          <input type="password" maxlength="1" class="input input-bordered w-24" />
        </div>
        <div class="form-control">
          <input type="password" maxlength="1" class="input input-bordered w-24" />
        </div>
        <div class="form-control">
          <input type="password" maxlength="1" class="input input-bordered w-24" />
        </div>
        <div class="form-control">
          <input type="password" maxlength="1" class="input input-bordered w-24" />
        </div>
      </div>
      <div class="form-control">
        <button class="btn btn-primary">Bestätigen</button>
      </div>
      <div class="form-control items-center">
        <a class="link link-accent">Pin vergessen?</a>
      </div>
    </form>

  </div>

  <footer class="h-24 w-full bg-secondary">
    <div class="flex justify-between pt-10 px-8">
      <div class="flex-none text-white">
        &copy; Jugendhilfe Olsberg
      </div>
      <div class="flex space-x-4 text-primary">
        <div class="">
          <a class="text-primary" routerLink="../impress">Impressum</a>
        </div>
        <div class="">
          <a class="text-primary" routerLink="../privacy">Datenschutz</a>
        </div>
        <div class="">
          <a class="text-primary" routerLink="../terms">AGB</a>
        </div>
      </div>
    </div>
  </footer>

</div>


