<div class="container">
  <div class="form">
    <label>Name:</label>
    <input [(ngModel)]="user.name" type="text" />
    <label>Nachname:</label>
    <input [(ngModel)]="user.surname" type="text" />
    <label>Email:</label>
    <input [(ngModel)]="user.email" type="text" />
    <label>Rolle:</label>
    <select [(ngModel)]="user.type">
      <option value="Employee">Mitarbeiter</option>
      <option value="Client">Klient</option>
    </select>
    <button (click)="back()">Abbrechen</button>
    <button (click)="complete()">Erstellen</button>
  </div>
</div>
